int BMRM.verbosity 1
int BMRM.convergenceLog 0
int BMRM.maxNumOfIter 500

string Program.mode PREDICTION

// tolerance for epsilon termination criterion (set negative value to disable this criterion)
double BMRM.epsilonTol 1e-2

// tolerance for gamma termination criterion (set negative value to disable this criterion)
double BMRM.gammaTol -1

// [optional] other possible choices {L2N2_prLOQO, L1N1_CLP}
string BMRM.innerSolverType L2N2_DaiFletcherPGM



int InnerSolver.verbosity 0
string InnerSolver.gradType DENSE

// [optional] maximum number of projection (to a feasible set) iterations
int L2N2_DaiFletcherPGM.maxProjIter 200

// [optional] maximum numnber of gradient projection iterations
int L2N2_DaiFletcherPGM.maxPGMIter 100000

// [optional] number of iterations an inactive gradient is allowed to remain in
int L2N2_DaiFletcherPGM.gradIdleAge 10

// [optional] maximum gradient set size
int L2N2_DaiFletcherPGM.maxGradSetSize 5000

// [optinal] tolerance
double L2N2_DaiFletcherPGM.tolerance 1e-5

string Loss.lossFunctionType GENERIC


double EpsilonInsensitiveLoss.epsilon 0.1

// verbosity level
int Loss.verbosity 0

int Data.verbosity 1
int Data.dimOfFeature 78
int Data.biasFeature 0
string Data.format GENERIC

//////////////////////////////////////////////////
// GENERIC parameters                           //
//////////////////////////////////////////////////

double BMRM.lambda 0.01

string Model.modelFile model

string Data.trainFile ../Data/FPEG.train
string Data.trainPairs ../Data/FPEG.trainpairs

string Data.testFile ../Data/FPEG.test
string Data.testPairs ../Data/FPEG.testpairs

int Data.category 10
